{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

<div class="contact-body">
    <div class="au-content">
        <div class="container">
    		<div class="row justify-content-center">
    			<div class="col-12 col-lg-5 ">
                {{ form_start(requestForm) }}
                    <h5>Mot de passe oublié</h5>
                    {{ form_row(requestForm.email) }}
                    <div class="form-row">
                        <small class="col">
                            Entrer votre adresse email et nous vous enverrons un lien pour changer de mot de passe
                        </small>
                    </div>
                    <div class="form-row">
    					<div class="col text-center mt-3">
							<button class="btn btn-primary" type="submit">{{ button_label|default('Envoyer') }}</button>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>      
                {{ form_end(requestForm) }}
{% endblock %}